body{
    font-family: 'Poppins', sans-serif;
    margin:  0px;
}

.intro-part{
    display: flex;
    margin-top: 80px;
   
}
.half-width{
    width: 50%;
    padding-left: 150px;
}
#header{
    font-size: 40px;
    border-left: 4px solid blue;
    line-height: 45px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yeseva One', cursive;
    
    
}
.cyne-color{
    color: #00CFEB;
}
.intro-part img{
    width: 70%;
}
#paragraph-first{
    padding-right: 200px;
    margin-top: 0;
    padding-bottom: 10px;
    

}
.link-button{
    text-decoration: none;
    background-color: rgb(69, 69, 235);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 3px;
}
#small-tag{
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 90%;
}
.mission-vission{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.mission-vission img{
    width: 150px;
}
.three-box{
    margin-top: 30px;
    margin-left: 40px;
    padding-left: 30px;
    padding-right: 30px; 
    margin-bottom: 100px;
}
#mission{
    background-color: rgb(0, 255, 255,0.1);
    border-radius: 20px;
    margin-left: 150px;
    
    
}
#vission{
    background-color: rgb(16, 230, 165,0.1);
    border-radius: 20px;
   
   
}
#goals{
    background-color: rgb(102, 150, 245,0.1);
    border-radius: 20px;
    margin-right: 150px;   
}
.mission-vission-goals-heading {
    font-size: 40px;
    
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
}
#section-two h1{
    font-weight: 900 !important;
    
    font-size: 50px;
}
.third-part{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    margin-bottom: 100px;
    /* background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: 80% 0%;
    z-index: 1; */
    
}
.developer-images img{
    width: 100%;
}
.developer-images{
    width: 30%;
}
.front-end{
    width: 50%;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 60px;
    margin-right: 100px;
}
.front-end h2{
    font-size: 40px;
}

.front-end p {
    text-align: left;
}
.forth-part{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    margin-bottom: 60px;
    /* background-image: url(images/shape-1.png);
    background-repeat: no-repeat; */
    
}
.back-end{
   
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 100px;
    margin-right: 100px;
    padding-left: 20px;
}

.back-end p {
    text-align: left;
}
.developer-images-2 img{
    width: 70%;
}
.back-end h2{
    font-size: 40px;
}
.footer{
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;   
}
.footer p{
    font-size: 15px;
}
.footer h2{
    font-family: 'Yeseva One', cursive;
}
.footer span{
    color: tomato;
}



